.card-wrapper{
    height: 100vh;
    width: 50%;
    margin: 0 auto;
}

.form-container{
display: flex;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
margin-top: 5rem;
padding: 5rem;
}

.text-wrapper{
    margin-top: 20px !important;
    max-width: 100% !important;
}

.button-handler {
    margin-top: 40px !important;
    height: 3rem !important;
    width: 10rem;
}